<div class="container">
<h1>Deaf Grandma</h1>
<% if @grandma %>
  <p>Grandma says: "<span id="grandma_says"><%= @grandma %></span>"</p>
<% end %>

  <%= form_tag("/response", method: "post") do %>
    <%= label_tag(:user_input, "Say something to Grandma:" ) %>
    <br>
    <%= text_field=(:user_input) %>
    <%= submit_tag=("Say it!") %>
  <% end %>
  </form>
</div>