<h1>Pages Show</h1>
<p><%= @grandma %></p>

<%= form_tag({controller: "pages", action: "show"}, method: "get") do %>
  <%= label_tag(:user_input, "Say something to Grandma:") %>
  <br>
  <%= text_field_tag(:user_input) %>
  <%= submit_tag("Say it!") %>
<% end %>